.noticias{
    text-align: justify;
}
.container{
    background-color: #e6e6e6;
}
  
#noticia_principal{
    background-size: cover;
    height: 400px;
    width: 600px;
    margin-top: 10px;
    margin-left: 20px;
   

    

}
.noticias a{
    color: blue;
}


#noticia_principal a{
    position: relative;
    margin-top: 50px;
    color: #EDEDED;
    
    
}
.noticia_sec a{
    color: #EDEDED;
}

.noticia_sec{
    height: 200px;
    width: 500px;
    background-size: cover;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ntc{
    
     margin: 10px;
}
.navbar-brand{
    font-size: 45px;
    
}

nav{
    background-color: blue;
  
}
nav  a{
    color: #EDEDED;
}

hr{
    color: #398439;
}
#footer{
    background-color: blue;
    text-align: end;
}
#footer a{
    color: #EDEDED;
}
body{
    background-color: #EDEDED;
    align-items: center;

}
.categoria{
    margin-bottom: 20px;
}

.exibeNoticia{
   text-align: justify;
}



.exibeNoticia p{
    font-size: 20px;
}

#imagem{
    text-align: center;
}



