<div class="container-fluid nav" id="footer">
    
    <h1 class="col-md-7"> <a href="index.php">Caio Esportes </a></h1>         
    <a href="contato.php" class="col-md-5" style="margin-top: 30px;">Contato</a>
</div>
